<div *ngIf="summary" class="summary-container">
    
    <p *ngFor="let owe of summary.owes">
        {{owe.debtor.firstname + ' ' + owe.debtor.lastname}} 
        owes {{owe.creditor.firstname + ' ' + owe.creditor.lastname}}
        &nbsp;{{owe.amount | currency: 'EUR'}}
    </p>

    <div *ngFor="let expense of summary.userExpenses">
        {{expense.purchaser.firstname + ' ' +expense.purchaser.lastname}}: 
        &nbsp;{{expense.amount | currency: 'EUR'}}
    </div>

    <ngx-charts-pie-chart *ngIf="pieChartData"
    [view]="view"
    [scheme]="colorScheme"
    [results]="pieChartData"
    [gradient]="gradient"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [labels]="showLabels"
    [doughnut]="isDoughnut"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-pie-chart>

</div>