.purchase-container {
    margin: 2.5vh 2.5vh 2.5vh 2.5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.save-btn {
    float: right;
}
