<div class="container">
    <h2>{{ 'family.family' | translate }}</h2>

    <div *ngIf="family">
        <form [formGroup]="familyForm">
            <div
                *ngIf="family.id !== '0'"
                class="row"
            >
            {{ 'family.name' | translate }}: {{ family.name }}
            </div>
            <div
                *ngIf="family.id === '0'"
                class="row"
            >
                <mat-form-field>
                    <mat-label>{{ 'family.name' | translate }}</mat-label>
                    <input
                        matInput
                        name="name"
                        type="text"
                        formControlName="familyName"
                    >
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>{{ 'family.usersearch' | translate }}</mat-label>
                    <input
                        type="text"
                        matInput
                        [formControl]="userControl"
                        [matAutocomplete]="auto"
                    >
                    <mat-autocomplete
                        #auto="matAutocomplete"
                        [displayWith]="displayFn"
                    >
                        <mat-option
                            *ngFor="let option of filteredOptions"
                            [value]="option"
                        >
                            {{option.firstname}}&nbsp;{{option.lastname}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div
                class="row"
                *ngIf="family.id === '0'"
            >
                <button
                    mat-raised-button
                    color="primary"
                    (click)="addFamily()"
                    [disabled]="userControl.value == null"
                >
                {{ 'family.add-family' | translate }}
                </button>
            </div>
            <div
                *ngIf="family.id !== '0'"
                class="row"
            >
                <button
                    mat-raised-button
                    color="primary"
                    (click)="addToFamily()"
                    [disabled]="userControl.value == null"
                >
                {{ 'family.add-user' | translate }}
                </button>
            </div>
        </form>
    </div>

    <app-members [members]="family?.members"></app-members>
</div>
