
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    width: 20%;
}

table {
    width: 90vw;
}

mat-divider {
    margin: 2vh auto;
}

td.mat-cell {
    padding-right: 1rem;
}

app-month-picker {
    margin-bottom: 2rem;
}

table {
    margin-bottom: 2rem;
}

div.spinner-container {
    height: auto;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}